server:
  port: 8080

platform:
  hub:
    request-timeout: 2s
    parallelism: 8
    services: []

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never

